<style>
    ul,li {
    }
    .main {
        background: #fff;
    }
    a, a:hover {
        color: #333;
    }
    .panel-info {
        padding: 10px 0;
        background: #fff;
    }
    .panel-info>a{
        text-align: center;
        border-right: 1px solid #ddd;
    }
    .panel-info>a p {
        font-size: 13px;
        font-weight: 700;
        color: rgb(134, 129, 129);
    }
    .panel-info>a p:nth-child(1) {
        margin-top: 10px;
    }
    select.form-control {
        padding: 6px 18px;
    }

    #echart {
        margin: 20px;
    }
    .panel-info:after {
        clear: both;
    }
    .clearfix {
        clear: both;
    }

    .products-money,.products-number {
        padding: 20px;
    }

    .products-money p,.products-number p {
        font-size: 15px;
        font-weight: 700;
    }

    .products-money li,.products-number li {
        margin: 5px 0;
    }

    .products-money a, .products-number a {
        width: 100%;
        display: block;
    }

    .products-money a span:last-child, .products-number a span:last-child {
        float: right;
    }
</style>
<script>
var Orderdata = {:json_encode($orderData, true)}
</script>
<div class="main">
    <div class="row">
        <form id="index-form" class="navbar-form" role="form" method="GET" action="">
            <select name="type" id="type" class="form-control">
                <option value="0">销售订单比数</option>
                <option value="1">销售订单金额</option>
            </select>
            <input id="c-start_time" placeholder="开始时间" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm" data-use-current="true" name="start_time" type="text" value="{$start_time}">
            <input id="c-end_time" placeholder="结束时间" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm" data-use-current="true" name="end_time" type="text" value="{$end_time}">
            <button type="submit" class="btn btn-primary">查询</button>
            <a href="javascript:location.reload()" class="btn btn-primary">重新载入</a>
        </form>
    </div>
    <div class="panel-info">
        <a class="col-md-3 col-xs-3 col-md-3 btn-dialog" data-area='["100%", "100%"]' href="xshop/order/index?is_pay=1" title="查看订单">
            <p class="paied">{$totalInfo.order_paied.count} (￥{$totalInfo.order_paied.order_price|default='0'})</p>
            <p class="text">已支付</p>
        </a>
        <a class="col-md-3 col-xs-3 col-md-3 btn-dialog" data-area='["100%", "100%"]' href="xshop/order/index?is_pay=0" title="查看订单">
            <p class="wait_pay">{$totalInfo.order_wait_pay.count} (￥{$totalInfo.order_wait_pay.order_price|default='0'})</p>
            <p class="text">未支付</p>
        </a>
        <a class="col-md-3 col-xs-3 col-md-3 btn-dialog" data-area='["100%", "100%"]' href="xshop/order/index?is_delivery=1" title="查看订单">
            <p class="shipped">{$totalInfo.order_shipped.count} (￥{$totalInfo.order_shipped.order_price|default='0'})</p>
            <p>已发货</p>
        </a>
        <a class="col-md-3 col-xs-3 col-md-3 btn-dialog" data-area='["100%", "100%"]' href="xshop/order/index?is_pay=1&is_delivery=0&status=1" title="查看订单">
            <p class="wait_ship">{$totalInfo.order_wait_ship.count} (￥{$totalInfo.order_wait_ship.order_price|default='0'})</p>
            <p>待发货</p>
        </a>
        <div class="clearfix"></div>
    </div>
    <div style="width:100%;height: 300px;" id="echart"></div>
    <div>
        <div class="col-md-6 products-money">
            <p>商品销售额排行</p>
            <ol class="">
                {foreach $productsMoney as $item}
                <li>
                    <a>
                        <span>{$item.title}</span>
                        <span>￥{$item.product_price}</span> 
                    </a>
                </li>
                {/foreach}
            </ol>
        </div>
        <div class="col-md-6 products-number">
            <p>商品销售量排行</p>
            <ol class="">
                {foreach $productsNumber as $item}
                <li>
                    <a>
                        <span>{$item.title}</span>
                        <span>{$item.quantity}</span>
                    </a>
                </li>
                {/foreach}
            </ol>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
